<div class="container">

    <img src="/images/beer.png" alt="" class="beer-hero-img">
    <div class="buttons">
      <button><a href="#">Check the beers!</a></button>
      <button><a href="/random-beer">Check a random beers!</a></button>
    </div> 
</div>